// header
.site-header {
    background-color: $link-color;

    @media (min-width: 42em) {
        position: fixed;
        width: 100%;
    }
}

.attachment-page_header,
.attachment-page_header_tall {
    margin-bottom: -.5em;
    
    @media (min-width: 70em)                       { padding-top: 5em; }
    @media (min-width: 42em) and (max-width: 69em) { padding-top: 7em; }

}

.no-thumbnail .entry-content { margin-top: 5em; }
