.home-graphic {
    display: block;
    margin: 0 $vspacing $vspacing 0;
    padding: 0;

    &:last-of-type {
        margin-right: 0;
    }
}

.flexbox {
    .home-graphic-container {
        display: flex;
    }

     .home-graphic {
        flex-grow: 1;
    }
}

// fallback
.no-flexbox .home-graphic {
    float: left;
    
    @media screen and (min-width: 70em) { width: 31%; }
    @media screen and (min-width: 42em) and (max-width: 70em) { width: 29%; }
    @media screen and (min-width: 35em) and (max-width: 42em) { width: 45%; }
    @media screen and (max-width: 35em) { width: 100%; }
}

// small screens
@media screen and (max-width: 35em) {
    .flexbox {
        .home-graphic-container { flex-direction: column; }
        
        .home-graphic { margin: .5em 0; }
    }
    
    // fallback
    .no-flebox .home-graphic {
        float: none;
        margin: 0.5em auto;
    }
}