// main body styles
.site-header,
.site-content,
.site-footer {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    background-color: $secondary-background;
}

// header
.site-header {
    display: block;
}

.site-branding {
    font-size: larger;
}

// Layout: Content-Sidebar
@if $layout == content-sidebar {
	.content-area {
		float: left;
		margin: 0 -25% 0 0;
		width: 100%;
	}
	.site-main {
		margin: 0 25% 0 0;
	}
	.site-content .widget-area { /* Sidebar 1 */
		float: right;
		overflow: hidden;
		width: 25%;
	}
}

// Layout: Sidebar-Content
@else if $layout == sidebar-content {
	.content-area {
		float: right;
		margin: 0 0 0 -25%;
		width: 100%;
	}
	.site-main {
		margin: 0 0 0 25%;
	}
	.site-content .widget-area { /* Sidebar 1 */
		float: left;
		overflow: hidden;
		width: 25%;
	}
}

@if $layout != null {    
	.site-footer {
		clear: both;
		width: 100%;
	}
}
