// main page layout
.full-width {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: $vspacing;
    
    @media screen and (min-width: 42em) {
        width: 80%;
    }
}

.main-navigation,
.site-content,
.site-footer {
    @extend .full-width;
    background-color: $body-color;
}

// Layout: Content-Sidebar
@if $layout == content-sidebar {
	.content-area {
		float: left;
		margin: 0 -25% 0 0;
		width: 100%;
	}
	.site-main {
		margin: 0 25% 0 0;
	}
	.site-content .widget-area { /* Sidebar 1 */
		float: right;
		overflow: hidden;
		width: 25%;
	}
}

// Layout: Sidebar-Content
@else if $layout == sidebar-content {
	.content-area {
		float: right;
		margin: 0 0 0 -25%;
		width: 100%;
	}
	.site-main {
		margin: 0 0 0 25%;
	}
	.site-content .widget-area { /* Sidebar 1 */
		float: left;
		overflow: hidden;
		width: 25%;
	}
}

@if $layout != null {
	.site-footer {
		clear: both;
		width: 100%;
	}
}
