/* =Menu
----------------------------------------------- */

$menu-height: 5em;
$menu-height-small: 3em;
$menu-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

// logo
.site-logo {
    float: left;
    padding: .75em 1em .75em 0;
}

.site-logo img {
    height: 3em;
}

.main-navigation {
    background-color: $link-color;
	clear: both;
	display: block;
    min-height: $menu-height;
    padding: 0;

	// first level
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			float: left;
			position: relative;

			a {
				display: block;
                padding: ( $menu-height * 0.35 ) $vspacing;
				text-decoration: none;
                color: white;
			}

			// link hover
			&:hover {
                background-color: $menu-hover-color;

				> a { }
				> ul { display: block; }
			}

		}

		.current_page_item, .current-menu-item {
			a {}
		}

		// second level
		ul {
			box-shadow: $menu-shadow;
			display: none;
			float: left;
			position: absolute;
				top: $menu-height;
				left: 0;
			z-index: 99999;

			&:hover {
				> a {};
			}

			li {
                background-color: $link-color;

				a {
					width: 200px;
                    padding: ( $vspacing / 2 ) $vspacing;
					&:hover {};
				}

                &:hover {
                    background-color: $menu-hover-color;
                }

                &.page_item_has_children::after {
                    content: "\0a\bb";
                    position: absolute;
                    top: .55em;
                    right: .5em;
                    font-size: 18px;
                    color: white;
                }
			}

			// third level
			ul {
				left: 100%;
				top: 0;
			}

		}
	}

}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

// up-to-large screens
@media screen and (max-width: 70em) {    
    .site-logo {
        float: none;
    }
    .site-logo img {
        margin-top: .5em;
    }
    .main-navigation ul ul {
        top: 3.5em;
    }
    .main-navigation ul li a,
    .main-navigation ul ul li a{
        padding: 1em;
    }
}

// medium screens
@media screen and (min-width: 42em) and (max-width: 69em) {
    .main-navigation {
        min-height: $menu-height-small;
    }
}

// small screens
@media screen and (max-width: 42em) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
      display: block;
      margin: $vspacing auto;
  }

  .main-navigation ul {
      display: none;
  }
}

.isStuck {
    box-shadow: $menu-shadow;
}
