// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

$base-font: "Lato", sans-serif;
$header-font: "Oswald", sans-serif; // you can refer to other variables

// base color scheme
// from https://kuler.adobe.com/Theme-7-color-theme-4131334/
$primary-background: rgba(91, 45, 35, 1);
$primary-background-overlay: rgba($primary-background, 0.4);
$secondary-background: rgba(242, 193, 120, 0.75);
$tertiary-background: rgba(15, 31, 65, 1);
$quaternary-background: rgba(46, 51, 61, 1);
$quinary-background: rgba(29, 23, 29, 1);

$body-background: $primary-background;
$text-color: #1D171D;
$link-color: #0F1F41;
$link-visited: #2E333D;

// Supported Values for $layout:
//  null | content-sidebar | sidebar-content
$layout: null !default;
$vspacing: 1.5em;
