// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

$base-font: sans-serif;
$header-font: $base-font; // you can refer to other variables

//variables
$background-color: rgba(115, 112, 112, 1);
$body-color: rgba(207, 202, 202, 1);
$link-color: rgba(53, 75, 116, 1);
$link-hover-color: rgba(64, 145, 181, 1);
$menu-hover-color: rgba(28, 38, 56, 1);

// base color scheme
$body-background: $background-color;
$text-color: $background-color;
$link-color: $link-color;
$link-visited: $background-color;

// Supported Values for $layout:
//  null | content-sidebar | sidebar-content
$layout: content-sidebar;
$vspacing: 1.5em;
