// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

$base-font: "Lato", sans-serif;
$header-font: "Oswald", sans-serif; // you can refer to other variables

// base color scheme
$primary-background: rgb(60, 38, 22);
$primary-background-overlay: rgba(60, 38, 22, 0.4);
$secondary-background: rgba(202, 196, 170, 0.75);

$body-background: $primary-background;
$text-color: #404040;
$link-color: royalblue;
$link-visited: purple;

// Supported Values for $layout:
//  null | content-sidebar | sidebar-content
$layout: null !default;
$vspacing: 1.5em;
