/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 $vspacing;

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}

	/* Search widget */
	.widget-search .search-submit {
		display: none;
	}

}

.widget_recent_sermons {
	ul {
		list-style-type: none;
		margin: 0;

		.dashicons-microphone { text-decoration: none; }

		.meta {
			display: block;
			font-size: 85%;
		}
	}
}
